# Environment variables (Sensitive Data)
.env

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
